**/Debug_x64
**/Release_x64
**/.vs
**/x64
**/docs
*.user
*.aps
html
gtest/build
gtest/build_clang
gtest/external
*.bak
bin/
build/

/Testing

# VS claude code extensions
.claude/settings*.json
.claude/*.ps1
.mcp.json
